body {
    font:arial;
	}
table {
    margin-left:auto;
	margin-right:auto;
	}
.display {
    opacity:0.4;
    }	
#crossword {
    
	margin-top:0px;
	background-image:url('1.jpg');
	background-repeat:no-repeat;
    background-size:cover;
	}
td {
	padding:0px;
	}
.panel {
    background-color:#F5FFFF;
    border-radius:15px;
    border:1px solid #CAE6CA;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	vertical-align:top;
   }	
input {
    height:30px;
	width:30px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#000000;
	}
#go {
    font-family:trebuchet ms;
    font-weight:bold;
	background-color:#6699FF;
	border-radius:5px;
	color:white;
	}
#go:hover,#go:active {
    background-color:#94B8FF;
	}
#submit {
    background-color:#33CC33;
	color:white;
	font: trebuchet ms;
	border-radius:5px;
	font-size:20px;
	}
#submit:hover,#submit:active {
    background-color:#85E085;
    }
#a[10][10] {
    background-color:black;
	}
.black {
    background:black;
	}
